<!-- ================= About Area Start Here ================ -->

<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-img">
                    <img src="assets/images/about/abou.jpg">
                    <img class="small-img" src="assets/images/about/about-2.jpg">
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1">
                <div class="about-content">
                    <div class="subtitle">
                        <img src="assets/images/shpe/text-shape.png">
                        <span>About Us</span>
                        <img src="assets/images/shpe/text-shape.png">
                    </div>
                    <div class="section-title">
                        <h2>What's So Special About Us?</h2>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe, facere, non quo explicabo nemo accusantium aperiam, dolorem rerum excepturi quod. Deserunt et quas, nesciunt vitae obcaecati pariatur fugiat minus!</p>
                    <div class="content-items">
                        <div class="single-content">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>PowerPro Electrical Services</span>
                        </div>
                        <div class="single-content">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Amped Up Electricians</span>
                        </div>
                        <div class="single-content">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Wired Solutions Electric</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--base">read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ================= About Area End Here ================ -->