<!-- =============== Slider Area Start Here ============== -->

    <section class="slider-area">
        <div class="sliders">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="banner-content">
                                <span class="subtitle">
                                    <img src="assets/images/shpe/text-shape.png">
                                    Wellcome to Electric
                                    <img src="assets/images/shpe/text-shape.png">
                                </span>
                                <h1>The Latest Electric We Future Of Electric</h1>
                                <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                                <a href="#" class="btn btn--base">Read more <img src="assets/images/shpe/btn-shape.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider img-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="banner-content">
                                <span class="subtitle">
                                    <img src="assets/images/shpe/text-shape.png">
                                    Wellcome to Our Website
                                    <img src="assets/images/shpe/text-shape.png">
                                </span>
                                <h1>We are here to solve your Problem</h1>
                                <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                                <a href="#" class="btn btn--base">View Details <img src="assets/images/shpe/btn-shape.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="request-area">
            <div class="container">
                <div class="full-request">
                    <div class="tag">
                        <h4>Request Service Today</h4>
                    </div>
                    <div class="row request-input middle">
                        <div class="col-xl-2">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-xl-2">
                            <input type="email" placeholder="Your e-mail">
                        </div>
                        <div class="col-xl-2">
                            <input type="number" placeholder="Your Phone">
                        </div>
                        <div class="col-xl-2">
                            <div class="date-input" style="position: relative;">
                                <input type="text" placeholder="Date" onfocus="(this.type='date')">
                                <!-- <i class="fa-regular fa-calendar-plus"></i> -->
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <a href="#" class="btn btn--base">
                                <img src="assets/images/shpe/btn-shape.png">
                                Get servies
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

<!-- =============== Slider Area End Here ============== -->