<!-- ============== Brand Area Start Here ============== -->

<section class="brand-area">
    <div class="container">
        <div class="brand-slider">
            <div class="brand-item">
                <img src="assets/images/brand/1.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/2.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/3.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/4.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/5.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/1.png">
            </div>
            <div class="brand-item">
                <img src="assets/images/brand/2.png">
            </div>
        </div>
    </div>
</section>

<!-- ============== Brand Area End Here ============== -->
