<!-- ============== Contact Area Start Here ============== -->

<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <span class="subtitle" style="color: #fff; letter-spacing: 1px;">
                    <img src="assets/images/shpe/btn-shape.png">
                    contact us
                    <img src="assets/images/shpe/btn-shape.png">
                </span>
                <div class="section-title">
                    <h2>Get in touch</h2>
                </div>
                <p>Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. </p>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="contact-inputs">
                    <input type="email" placeholder="Your mail here">
                    <textarea placeholder="Your message here"></textarea>
                    <a href="#" class="btn btn--base">Submit</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== Contact Area End Here ============== -->