<!-- ====================== Footer Area Start Here ===================== -->

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-item">
                    <div class="logo">
                        <img src="assets/images/header-top/logo.png">
                    </div>
                    <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6" style="margin-bottom: 70px;">
                <div class="footer-item">
                    <h3>About</h3>
                    <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-item">
                    <h3>Contract</h3>
                    <p>There are many variations of passages of Ipsum available.</p>
                    <h3 class="number">+00 123 4567 890</h3>
                    <h3 class="email">info.mail@company.com</h3>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-item">
                    <h3>Map</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233668.4306719082!2d90.25446538835169!3d23.78054897705266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1686292537786!5m2!1sen!2sbd" width="312" height="158" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- ====================== Footer Area End Here ===================== -->