<!-- ================== Header Top area start Here ================= -->

<header class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5">
                <a href="index.html"><img src="assets/images/header-top/logo.png"></a>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7">
                <ul class="social-contract">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <div class="user-login">
                        <a href="login.html" class="btn btn--base go-login-btn" style="margin-left: 10px;"> <i class="fas fa-user"></i> Login</a>
                        <div class="user">
                            <div class="user-img">
                                <img src="assets/images/team/2.png" class="user-main-img">
                                <div class="profile-card">
                                    <h4>Rubayat Rifat</h4>
                                    <ul>
                                        <li><a href="dashboard.html">
                                            <i class="fa fa-tachometer-alt"></i>
                                            Dashboard</a></li>
                                        <li><a href="dashboard.html">
                                            <i class="fa-solid fa-user"></i>
                                            Profile Info</a></li>
                                        <li><a href="change-password.html">
                                            <i class="fa-solid fa-lock"></i>
                                            Change Password</a></li>
                                        <li><a href="user-profile.html">
                                            <i class="fa-solid fa-user-gear"></i>
                                            Profile Settings</a></li>
                                        <li><a href="login.html">
                                            <i class="fa-solid fa-user-plus"></i>
                                            Add Account</a></li>
                                        <li><a href="#">
                                            <i class="fa-solid fa-hand-holding-dollar"></i>
                                            Recent Offers</a></li>
                                        <li><a id="log-out-btn" href="index.html">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- ================== Header Top area End Here ================= -->