<!-- ================= Main Header area start Here ============== -->

<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <ul class="main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Servies</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </div>
            <div class="col-xl-4">
                <div class="card-more">
                    <div class="servies-card">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="more">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-bar">
            <span>Menu :</span>
            <ul class="side-bar-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Servies</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contract</a></li>
            </ul>
            <div class="todays-offer">
                <div class="single-offer">
                    <div class="offer-img">
                        <img src="assets/images/servies/1.png">
                    </div>
                    <span>20% off in Home Servies</span>
                </div>
                <div class="single-offer">
                    <div class="offer-img">
                        <img src="assets/images/servies/2.png">
                    </div>
                    <span>20% off in Home Servies</span>
                </div>
                <div class="single-offer">
                    <div class="offer-img">
                        <img src="assets/images/servies/3.png">
                    </div>
                    <span>20% off in Home Servies</span>
                </div>
                <div class="single-offer">
                    <div class="offer-img">
                        <img src="assets/images/servies/5.jpg">
                    </div>
                    <span>20% off in Home Servies</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ================= Main Header area end Here ============== -->