<!-- ================ Help Area Start Here ================ -->

<section class="help-area">
    <div class="container">
        <div class="row end">
            <div class="col-xl-7 help-content">
                <div class="row">
                    <div class="col-xl-2">
                        <div class="help-img">
                            <img src="assets/images/shpe/big.png">
                        </div>          
                    </div>
                    <div class="col-xl-5">
                        <h3>Do you Need Help With Electrical Maintenance?</h3>
                    </div>
                </div>
                <div class="content">
                    <p>Our electrical repair and service options are proudly offered to clients. Give us a call today to schedule a free service estimate!</p>
                    <div class="help-btn">
                        <a href="#" class="btn btn--base" style="margin-right: 30px;">
                            <i class="fa-solid fa-phone"></i>
                            give us a call
                        </a>
                        <a href="#" class="btn btn--base" style="background-color: hsl(var(--black));">
                            <img src="assets/images/shpe/text-shape.png">
                            free estimate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ================ Help Area End Here ================ -->