<!-- =============== Pricing Plan Area Start Here =============== -->

<section class="pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 text-center" style="margin-bottom: 55px;">
                <span class="subtitle middle">
                    <img src="assets/images/shpe/text-shape.png">
                    Save on the Service You Need
                    <img src="assets/images/shpe/text-shape.png">
                </span>
                <div class="section-title">
                    <h2>Choose Your Pricing Plan</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-9" style="margin-bottom: 30px;">
                <div class="pricing-item">
                    <div class="shpe">
                        <img src="assets/images/shpe/halka.png">
                    </div>
                    <div class="pricing-top">
                        <h4>Residential Service</h4>
                        <span>$19.00 / <span>MONTHLY</span></span>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>Indoor/outdoor Lighting</li>
                            <li>Appliance & Fixture Installation</li>    
                            <li>Annual Electrical Inspection</li>    
                            <li>Ceiling Fan Installation</li>    
                            <li>New & Replacement Wiring</li>    
                            <li>Surge Protection Maintenance</li>    
                            <li>24-hour Response</li>    
                        </ul>
                        <a href="#" class="btn btn--base text-center">purchase now</a>
                    </div>
                </div>
            </div>
             
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-9" style="margin-bottom: 30px;">
                <div class="pricing-item">
                    <div class="shpe">
                        <img src="assets/images/shpe/halka.png">
                    </div>
                    <div class="pricing-top">
                        <h4>Residential Service</h4>
                        <span>$19.00 / <span>MONTHLY</span></span>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>Indoor/outdoor Lighting</li>
                            <li>Appliance & Fixture Installation</li>    
                            <li>Annual Electrical Inspection</li>    
                            <li>Ceiling Fan Installation</li>    
                            <li>New & Replacement Wiring</li>    
                            <li>Surge Protection Maintenance</li>    
                            <li>24-hour Response</li>    
                        </ul>
                        <a href="#" class="btn btn--base">purchase now</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-9">
                <div class="pricing-item">
                    <div class="shpe">
                        <img src="assets/images/shpe/halka.png">
                    </div>
                    <div class="pricing-top">
                        <h4>Residential Service</h4>
                        <span>$19.00 / <span>MONTHLY</span></span>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>Indoor/outdoor Lighting</li>
                            <li>Appliance & Fixture Installation</li>    
                            <li>Annual Electrical Inspection</li>    
                            <li>Ceiling Fan Installation</li>    
                            <li>New & Replacement Wiring</li>    
                            <li>Surge Protection Maintenance</li>    
                            <li>24-hour Response</li>    
                        </ul>
                        <a href="#" class="btn btn--base">purchase now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =============== Pricing Plan Area End Here =============== -->