<!-- ================ Request Area Start Here ================ -->

<section class="request-area">
    <div class="container">
        <div class="full-request">
            <div class="tag">
                <h4>Request Service Today</h4>
            </div>
            <div class="row request-input middle">
                <div class="col-xl-2">
                    <input type="text" placeholder="Your Name">
                </div>
                <div class="col-xl-2">
                    <input type="email" placeholder="Your e-mail">
                </div>
                <div class="col-xl-2">
                    <input type="number" placeholder="Your Phone">
                </div>
                <div class="col-xl-2">
                    <input type="text" placeholder="Date">
                    <i class="fa-regular fa-calendar-plus"></i>
                </div>
                <div class="col-xl-2">
                    <a href="#" class="btn btn--base">
                        <img src="assets/images/shpe/btn-shape.png">
                        Get servies
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ================ Request Area End Here ================ -->