<!-- ============== Team Area Start Here ============== -->

<section class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center" style="margin-bottom: 30px;">
                <span class="subtitle middle">
                    <img class="bg-member" src="assets/images/shpe/halka.png">
                    OUR TEAM
                    <img src="assets/images/shpe/text-shape.png">
                </span>
                <div class="section-title">
                    <h2>Our Leadership Team</h2>
                </div>
            </div>
        </div>
        <div class="team-slider">

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/1.png">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/2.png">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/3.png">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/4.jpg">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/5.jpg">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>
            
            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/6.jpg">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>

            <div class="single-slider">
                <img class="bg-member" src="assets/images/shpe/halka.png">
                <div class="member-img">
                    <img src="assets/images/team/7.jpg">
                </div>
                <div class="social-icons">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== Team Area End Here ============== -->