<!-- =================== Testimonials area Start here ========= -->

<section class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <span class="subtitle middle">
                    <img src="assets/images/shpe/text-shape.png">
                    WHAT OUR CLIENT SAY
                    <img src="assets/images/shpe/text-shape.png">
                </span>
                <div class="seciton-title" style="margin-bottom: 100px;">
                    <h2>Professional, Reliable <br> & Cost Effective</h2>
                </div>
            </div>
        </div>
        <div class="tetimonial-slider">
            <div class="testimonial-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="testimonial-img">
                            <div class="bg"></div>
                            <img src="assets/images/testimonial/1.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial-content">
                            <i class="fa-solid fa-quote-left"></i>
                            <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                            <h3>Jane Cooper</h3>
                            <span>Graphic Designer</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="testimonial-img">
                            <div class="bg"></div>
                            <img src="assets/images/testimonial/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial-content">
                            <i class="fa-solid fa-quote-left"></i>
                            <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                            <h3>Jane Cooper</h3>
                            <span>Back End</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="testimonial-img">
                            <div class="bg"></div>
                            <img src="assets/images/testimonial/3.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial-content">
                            <i class="fa-solid fa-quote-left"></i>
                            <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                            <h3>Jane Cooper</h3>
                            <span>Full Stack</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =================== Testimonials area end here ========= -->