
/*============= Footer Start Here =======================*/

.footer-area {
	padding: 85px 0;
    background-color: hsl(var(--black));
    .footer-item {
        margin-left: 30px;
        .logo {
            margin-bottom: 30px;
        }
        h3 {
            font-size: 24px;
            color: hsl(var(--white));
            margin-bottom: 30px;
        }
        .number {
            margin-bottom: 15px;
            margin-top: 20px;
            font-size: 20px;
        }
        .email {
            font-size: 20px;
        }
        p {
            color: #f2f2f2;
        }
    }
}


// ============= Footer End Here =======================





