
/*================ Header Top Start Here ================*/

.header-top {
	padding: 18px 0;
    background-color: hsl(var(--black));
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        li {
            margin: 0 23px;
            a {
                color: hsl(var(--base));
                font-size: 26px;
                margin-top: 6px;
            }
        }
    }
}

// ================ Header Top End Here ================
