/*============ Main Header Start Here =======================*/

.header-area {
	padding: 20px 0;
    .main-menu {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 13px;
        li {
            margin-left: 35px;
            a {
                font-family: var(--body-font);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .card-more {
        display: flex;
        justify-content: end;
        align-items: center;
        .servies-card {
            margin-right: 30px;
            font-size: 18px;
            cursor: pointer;
            position: relative;
            &::before {
                content: "2";
                position: absolute;
                padding: 0px 5px;
                height: 17px;
                background-color: hsl(var(--base));
                font-size: 13px;
                color: wheat;
                right: -7px;
                top: -6px;
                border-radius: 50%;
            }
        }
        .more {
            font-size: 22px;
            color: #fff;
            background-color: hsl(var(--base));
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

/* Sidebar Menu */

.side-bar {
    position: fixed;
	z-index: 999;
	top: 0;
	right: -320px;
	width: 320px;
	background: hsl(var(--base));
	height: 100vh;
	padding: 11px 24px;
    overflow: auto;
    transition: all ease-in-out .5s;
    &.show {
        right: 0;
    }
    i {
        position: absolute;
        font-size: 25px;
        top: 14px;
        left: 30px;
        cursor: pointer;
    }
    img {
        margin-left: 40px;
        margin-bottom: 40px;
        margin-top: 55px;
    }
    .menu-txt {
        font-size: 20px;
        margin-bottom: 10px; 
        color: #fff;
        display: inline-block;
    }
    .side-bar-menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        li {
            margin: 4px 11px;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .policy {
        span {
            margin-bottom: 10px;
            display: inline-block;
            font-size: 20px;
            color: #fff;
        }
        p {
            color: #dfdfdf;
            font-size: 11px;
            line-height: 17px;
            margin-bottom: 31px;
        }
    }
    .side-contract {
        margin-top: 25px;
        .hot-line {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .number-email {
            display: flex;
            margin-left: 12px;
            color: #fff;
            margin-bottom: 0px;
            p {
                margin-left: 5px;
                color: #dfdfdf;
            }
        }
    }
}

/* Sidebar Menu */



/*============ Main Header End Here =======================*/
