/*============ Main Header Start Here =======================*/

.header-area {
	padding: 20px 0;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    @include sm-screen {
        background-color: hsl(var(--black));
    }
    .servies-card {
        i{
            @include sm-screen {
                color: #fff;
            }
        }
    }
    &.fixed-header {
        position: sticky;
        top: 0;
        background-color: hsl(var(--base));
        z-index: 999;
        .main-menu {
            a{
                color: hsl(var(--white));
            }
        }
        .card-more {
            i {
                color: #fff;
            }
            .more {
                background-color: #fff;
                i {
                    color: hsl(var(--base));
                }
            }
            .notification-item {
                i{
                    color: inherit;
                }
            }
        }
        .card-more .servies-card::before {
            background: hsl(var(--black));
            color: hsl(var(--white));
        }
    }

}

    .main-menu {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 13px;
        @include sm-screen {
            margin: 0;
        }
        li {
            margin-left: 35px;
            @include sm-screen {
                display: none;
            }
            a {
                font-family: var(--body-font);
                font-size: 16px;
                font-weight: 500;
            }
        }
        .menu-logo {
            display: none;
            @include sm-screen {
                display: block;
            }
        }
    }
    .card-more {
        display: flex;
        justify-content: end;
        align-items: center;
        .servies-card {
            margin-right: 30px;
            font-size: 18px;
            position: relative;
            .notification-card {
                position: absolute;
                z-index: 99;
                top: 400%;
                right: -215px;
                width: 400px;
                background: #f0f0f0;
                padding: 23px 0;
                border-radius: 10px;
                transition: .3s all ease-in-out;
                opacity: 0;
                visibility: hidden;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                &.show-notif-card {
                    opacity: 1;
                    visibility: visible;
                    top: 177%;
                }
                h4 {
                    text-decoration: underline;
                    margin-left: 28px;
                }
                .notification-item {
                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 28px;
                        transition: .2s;
                        height: 70px;
                    }
                    &:hover {
                        background: #ccc;
                    }
                    p {
                        font-size: 15px;
                        width: 88%;
                        line-height: 30px;
                    }
                    i {
                        width: 8%;
                    }
                }
            }
            i {
                cursor: pointer;
            }
            &::before {
                content: "2";
                position: absolute;
                padding: 0px 5px;
                height: 17px;
                background-color: hsl(var(--base));
                font-size: 13px;
                color: hsl(var(--white));
                right: -7px;
                top: -6px;
                border-radius: 50%;
            }
        }
        .more {
            font-size: 22px;
            color: #fff;
            background-color: hsl(var(--base));
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }


/* Sidebar Menu */

.side-bar {
    position: fixed;
	z-index: 999;
	top: 0;
	right: -320px;
	width: 320px;
	background: hsl(var(--base));
	height: 100vh;
	padding: 11px 24px;
    overflow: auto;
    transition: all ease-in-out .5s;
    z-index: 99999;
    &.show {
        right: 0;
    }
    i {
        position: absolute;
        font-size: 25px;
        top: 14px;
        left: 30px;
        cursor: pointer;
    }
    img {
        margin-left: 40px;
        margin-bottom: 40px;
        margin-top: 55px;
    }
    .menu-txt {
        font-size: 20px;
        margin-bottom: 10px; 
        color: #fff;
        display: inline-block;
    }
    .side-bar-menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        li {
            margin: 4px 11px;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .policy {
        span {
            margin-bottom: 10px;
            display: inline-block;
            font-size: 20px;
            color: #fff;
        }
        p {
            color: #dfdfdf;
            font-size: 11px;
            line-height: 17px;
            margin-bottom: 31px;
        }
    }
    .side-contract {
        margin-top: 25px;
        .hot-line {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .number-email {
            display: flex;
            margin-left: 12px;
            color: #fff;
            margin-bottom: 0px;
            p {
                margin-left: 5px;
                color: #dfdfdf;
            }
        }
    }
}

/* Sidebar Menu */



/*============ Main Header End Here =======================*/
