.brand-area {
	padding: 50px 0;
    img {
        margin: auto;
        display: flex;
    }
    .slick-prev {
        left: -9%;
        top: 17px;
        opacity: 0;
        transition: all ease-in-out .3s;
    }
    .slick-next {
        opacity: 0;
        top: 17px;
        right: -9%;
        transition: all ease-in-out .3s;
    }
    &:hover {
        .slick-prev {
            opacity: 1;
            left: -5%;
        }
        .slick-next {
            opacity: 1;
            right: -5%;
        }
    }
}