/* ================== Contract Area Start Here ================== */

.contact-area {
	background-image: url(../images/contract/contact.png);
	background-size: cover;
    background-repeat: no-repeat;
	padding: 80px 0;
    .contact-content {
        background-color: hsl(var(--white));
        padding: 50px 40px;
        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 30px;
        }
        .contact-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                width: 45%;
            }
        }
    }
}

.end {
    justify-content: end;
}

/* ================== Contract Area End Here ================== */