/* ================== Help Area Start Here ================== */

.help-area {
	background-image: url(../images/help/contact.png);
	background-size: cover;
    background-repeat: no-repeat;
	padding: 80px 0;
    .help-content {
        background-color: hsl(var(--white));
        padding: 50px 40px;
        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 25px;
            @include xl-screen {
                font-size: 25px;
            }
            @include lg-screen {
                font-size: 20px;
            }
            @include md-screen {
                font-size: 27px;
            }
        }
        p {
            margin-bottom: 30px;
            @include xl-screen {
                font-size: 15px;
            }
            @include lg-screen {
                font-size: 12px;
                line-height: 20px;
            }
        }
        .help-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                width: 45%;
            }
        }
    }
}

.end {
    justify-content: end;
}

/* ================== Help Area End Here ================== */