/*====================== Servies Start Here ====================*/

.section-title h2{
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: 500;
}

.servies-area {
    padding: 175px 0 90px 0;
    .single-servies {
        margin-top: 50px;
        padding: 24px 23px;
        background-color: #f7f7f7;
        border-radius: 12px;
        transition: .4s;
        margin-bottom: 55px;
        &:hover {
            background-color: hsl(var(--base));
            box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.22);
            h3 {
                color: #fff;
            }
            p {
                color: #f2f2f2;
            }
            a {
                color: #fff;
            }
        }
        img {
            width: 386px;
            height: 261px;
            border-radius: 15px;
        }
        h3 {
            font-size: 24px;
            transition: .4s ;
        }
        p {
            margin-bottom: 12px;
            color: #616161;
            transition: .4s;
        }
        a{
            margin-bottom: 38px;
            color: hsl(var(--base));
            transition: .4s;
        }
    }
}


.slick-dots li button {
	border: none;
	background-color: hsl(var(--base));
	width: 20px;
	height: 20px;
	border-radius: 50%;
    outline: 1px solid hsl(var(--white));
    border: 7px solid hsl(var(--white));
}

.slick-dots li.slick-active button {
    outline: 1px solid hsl(var(--base));
    border: 7px solid hsl(var(--white));


}

/*====================== Servies End Here ====================*/
