/*============= Team Area Started =============*/

.team-area {
	padding: 30px 0;
    .team-slider {
        .single-slider {
            .member-img {
                img{
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*============= Team Area End =============*/
